{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form action="" method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Posts</legend>
            <h3>Do you wanna delete this post <b>"{{ object.title }}"</b></h3>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Delete</button> 
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted"> <a href="{% url 'home' %}">Go Back</a></small>
        </div>
    </div>

{% endblock content  %}